ul{
	font-size: 17px;
	font-weight: 550px;
}
.navbar{
	background-color: transparent;
	   
}
.nav-link{
	 color: black;
}
.navbar-nav{
	margin-right: 330px;
}
.nav-item{
	margin-left: 10px;
}
.navicon{
	font-size: 19px;
}
.navicon:hover{
	color: blue;
}
#corusel{
z-index: 2;
}
.yazilar{
	position: absolute;
	top:150px;
	left:180px;
}
.yazilar>h1{
	font-family: PlayfairDisplay-Bold;
    font-size: 0px;
    line-height: 1.1;
    text-transform: uppercase;
	padding-top: 30px;
	transition: all 0.8s ease;
}
.yazilar>h2{
	    font-family: Poppins-Regular;
    font-size: 28px;
    line-height: 1.2857;
	padding-top: 50px;
	opacity: 0;
	transition: all 0.8s ease;
}
.yazilar>button{
	    border-radius: 23px;
 background-color: #717fe0;
margin-top: 30px;
color: white;
font-weight: 500;
min-width: 161px;
    height: 46px;
font-family: Poppins-Medium;
    font-size: 16px;
    line-height: 1.566667;
    text-transform: uppercase;
   
    transition: all 1s ease;
}
.search{
	transition: all 1s ease;

	 top: -160px;
    width: 100%;
    display: none;
}
.search-content{
	width: 900px;
    margin-left: -200px;
}
.modal-sear{
	width: 870px;
	height: 100px;
	font-size: 30px;
}
.card-modal{
position: absolute;
	display:none;
	 width: 0px;
   animation: all 2s ease-in-out;
   right: -960px;
   z-index: 5;

}
.frame{
	
		width: 60px;
	height: 80px;
	overflow: hidden;
}
.cardyazi{
	position: absolute;
	left: 90px;
	top:0px;

}
.sekil{
	position: relative;
}
img{
	width: 100%;
	height:100%;

}
.cardyazi>p:hover{
	color: blue;

}
.card-modal-body>button{
	border-radius:  23px;
	width: 130px;
	height: 45px;
}
.sekilqutu{
	position: relative;
	border: 1px solid silver;
	width: 340px;
    height: 220px;
	overflow:hidden;
}

.sekilqutu:hover img{
	cursor: pointer;
	position: absolute;
	transform: scale(1.5);
	transition: all 0.9s ease; 
	
}
.hore{
	position: absolute;
	z-index: 20;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: transparent;
}


.orta9{
	border: 1px solid grey;
	border-radius: 100%;
	background: white;
	color: black;
	bottom: -30px;
	left: 150px;	
	display: inline-block;
	position: absolute;
	z-index: 3;
	transition: all 0.6s ease;
}
.sekilqutu:hover .orta9{
	bottom:  10px;
	left: 150px;	
	position: absolute;
	z-index: 4;

}
.orta3{
	width: 96px;
	border: 1px solid grey;
	border-radius:0 30px 0 25px;
	background: purple;
	color: black;
	bottom: 0px;
	left: 120px;	
	display: inline-block;
	position: relative;
	z-index: 3;
	transition: all 0.6s ease;
	overflow: hidden;

}
.as:hover img{
	transform: scale(1.1);
	transition: all 0.9s ease;
	cursor: pointer;
}
.as:hover .orta3{
	bottom:  20px;
	left: 120px;	
	position: absolute;
	z-index: 4;


}
.sekilqutu:hover .hore{
	opacity: 0.3;
	cursor: pointer; 
	background: purple;
}
.ustyazi{
	position: absolute;
	  top: 25px;
    left: 30px;
}
.proer{
		font-family: Poppins-Bold;
    font-size: 36px;
    line-height: 1.1;
    text-transform: uppercase;;

}
.as{
	width: 100%;
	height: 300px;
	overflow: hidden;
}
.stext-106{
	font-family: Poppins-Regular;
    font-size: 18px;
    line-height: 1.2;
outline: none;
color: #797979;
    border: none;
    background: transparent;
    cursor: pointer;
    margin-top:20px;
    margin-left: 10px;
}
.stext-106:hover{
	 color: black;
	 border-bottom: 1px solid black;
}
.btnmy{
	width:100px;
	height: 40px;
	background: lightgrey;
}
.filter{
	margin-left: 320px;
	margin-top: 10px;
}
.card-body{
	position: absolute;
    top: 70px;
    left: -565px;
    width: 1100px;
	height: 300px;
	margin-left: 10px;
}
.mtext-102{
	font-family: Poppins-SemiBold;
    font-size: 18px;
    line-height: 1.6;
    font-weight: 600;
    color: #333;
    margin-left: 30px;
    margin-bottom: 20px;
}
.sortby>li{
	    color: #aaa;
	list-style-type: none;
	padding-top: 10px;
}
.sortby>li>a{
	color: #aaa;
}

.sortby>li>a:hover{
	color: #007bff;
}
.cblack{
	
	border-radius: 100%;
	
    font-size: 12px;

}
.tags>button{
	
	    border: 1px solid #ccc;
    border-radius: 15px;
    min-height: 30px;
        font-family: Poppins-Regular;
    font-size: 17px;
    line-height: 1.923;
        outline: none;
    color: #797979;
   margin-top:10px;
    background: transparent;
}
.searfil{
	position: absolute;
	    top: 26px;
    left: 440px;
}
.searcard{
		position: absolute;
    top: 70px;
    left: -565px;
    width: 1100px;
	height: 200px;
	margin-left: 10px;
	border: none;
}
.searcard>input{
	position: relative;
	 width: 1000px;
	height: 100px;
	font-size: 25px;

}
.inputsear{
	position: absolute;
	top:65px;
	font-size: 25px; 
}

.aa{
	background: #222;
	height: 350px;
}

.ab{
	display:grid;
	
}
.ab:hover a{
	color: red;

}
.aq{
	background: #717fe0;
	height: 40px;
	width: 200px;
	border-radius: 50px 50px 50px 50px;
}
.aq:hover{
	background: white;
	cursor: pointer;
	transition: all 0.9s ease;
}

.tt{
	height: 30px;

	margin: 0 0 0 -495px;
}
.tt img{
	width: 50px;
	
}

.rr{
	height: 250px;
	top: 100px;
	width: 100%;
}
.qw{
	margin: -136px 0 0 601px;
	font-size: 50px;
	color: white;
	
}

.mm{
	margin: 140px 0 0 0;
}

.mm img{
	width: 100%;
	height: 400px;

}


.qa:hover img {
	transform: scale(1.1);
	transition: all 0.9s ease;
	
}
.qa{
	width: 100%;
	height: 400px;
	overflow: hidden;
}

.ss:hover{
	cursor: pointer;
	color: #9684AF;
	transition: all 0.6s ease;
}
.zz{
	border:1px solid silver;
	border-radius: 10px;
	width: 80%;
	height: 30px;
}
.nz {
	width: 100%;
	height: 20px;
}
.nz img{
	height: 100px;
	width: 100px;
	position: relative;
}

.za{
	margin: -18px 0 0 188px;
}
.hore1{
	position: absolute;
	z-index: 20;
	left: 0;
	top: 0;	
	width: 100px;
	height: 100px;
	background: transparent;
}

.nz:hover img{
	opacity: 0.6;
	cursor: pointer; 
	background: black;
}

.tex{
	text-align: right;
    margin: -25px 0 0 260px;

}

.xx{
	display: inline-block;
}

.at{
	margin: -40px 0 0 0;
}
.lo{
	display: inline-block;
	line-height: 1.94545;
}

.yy{
	width: 100%;
	height: 250px;
	margin: 100px 0 0 0;
}

.ll{
	width: 350px;
	height: 400px;
	overflow: hidden;
	box-shadow: 38px -14px 0 13px;
}
.nn{
	position: absolute;
	z-index: 20;
	left: 0;
	top: 0;	
	width: 600px;
	height: 400px;
	background: transparent;
}

.ll:hover img{
	
	transform: scale(1.1);
	transition: all 0.9s ease;
	

}

.d{
	margin: 85px 0 0 0;
}
.cc{
	margin: 0 0 0 0;
}
.size-116 {
    width: 90%;
    height: 50px;
    border-radius: 10px;
}
.size-120 {
    width: 90%;
    min-height: 150px;
    border-radius: 10px;
}
.size-121 {
    width: 90%;
    height: 46px;
    border-radius: 10px;
    background: black;
    color: white;
}

.aze{
	border:1px solid silver;
}
.azew{
	height: 368px;
}

.map-container{
	
overflow:hidden;
padding-bottom:56.25%;
position:relative;
height:0;
}
.map-container iframe{
left:0;
top:0;
height:100%;
width:100%;
position:absolute;
}